<!doctype html>
<html lang="fi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ohje - Taxa Treenaus</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <main class="wrap">
    <header class="top">
      <h1>Ohje</h1>
      <div style="display:flex; gap:10px; flex-wrap:wrap;">
        <a class="btn" href="/">Takaisin</a>
      </div>
    </header>

    <section class="card">
      <h2 style="margin-top:0;">Mikä tämä on?</h2>
      <p class="manp">
         Tällä sivulla harjoitella UEF:in lajituntemuskurssien lajien ja
          taksonomisten tasojen tieteellisiä nimiä sekä mihin pääjaksoihn,
          luokkiin, lahkoihin ja heimoihin ne kuuluvat.
      </p>
      <p class="manp">
          Säätämällä valittuja taksoneita ja taksonomisia tasoja voit
          harjoitella esim. pelkästään lintulajeja (aves), pelkästään
          nisäkkäitä (mammalia), pelkästään lintuheimoja tai vaikka pelkästään
          västäräkkejä (motacilidae). Oletuksena kaikki taksonit ovat päällä,
          kasvidataseteillä oletuksena valitaan vain suku + laji, mutta voit
          valita muutkin tasot jos kiinnostaa.
      </p>
      <p class="manp">
          Aina kun lataat sivun (tai käyt kaikki "kortit" läpi) sivu tekee valituista taksoneista satunnaisessa järjestyksessä olevan pakan jota käydään läpi painamalla Uusi tai N.
      </p>

      <p class="manp">
        <strong>HUOM!</strong> sovelluksessa näkyy vain pääjakso, luokka,
          lahko, heimo, suku ja laji. Alajaksoja, ryhmiä yms. ei voi
          harjoitella. Eli esim. alajakso hydracarina (vesipunkit) puuttuu
          kokonaan, vaikka se kuuluukin laajaan lajituntemukseen. Sitä vain ei
          kysytä tentissä, jossa on vain pääjakso, luokka, lahko, heimo suku ja
          laji.
      </p>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />
      <h2>Vinkkejä harjoitteluun</h2>
      <ul style="line-height:1.55; opacity:0.95;">
        <li>
            Keksi muistisääntöjä nimille. Nämä ovat kaikille erilaisia, mutta
            annan pari esimerkkiä.
        </li>
          <ul>
        <li>
            Kaarrekarve (<em>Arctoparmelia
              centrifuga</em>), muistisääntönäni on "arktinen parmesaani" koska
            parmelia toi mieleen parmesaanin.
        </li>
        <li>
              Helmipöllön lattari ei meinaa
            millään painua mieleeni joten edelleen kaivelen muistilokeroista
            aegislash (Pokemonin nimi), gollum (klonkku englanniksi) ja
            hautajaiset (funeral). Näistä sitten kyhään <em>Aegolius
              funereus</em>.
        </li>
        <li>
              Raatteen (<em>Menyanthes trifoliata</em>)
            muistisääntöni taas on "monta anttia".
        </li>
        </li>
          </ul>
        <li>
            Opettele vähän latinaa.
        </li>
          <ul>
        <li>
            <em>Hyemale</em> viittaa talveen,
            <em>nivalis</em> lumeen, <em>palud</em>, <em>palustris</em>,
            <em>palustre</em> suohon, <em>arvense</em>, <em>pratense</em>
            peltohin ja niittyihin, <em>vernus</em>, <em>vernalis</em> kevääseen.
        </li>
        <li>
              latinassa on suuri kirjo sanoja eri väreille. <em>canescens</em>,
              <em>canus</em>, <em>griseus</em> ja <em>cinereus</em> viittaavaat
              eri harmaan sävyihin. <em>viridis</em>, <em>chloro-</em>,
              <em>atrovirens</em>, <em>glaucus</em> taas vihreään
        </li>
          </ul>
        <li>
            Aloittaessa ei kannata yrittää harjoitella kauheaa määrää lajeja
            kerralla.
        </li>
          <ul>
        <li>
              Asetuksista pääsee taksonivalintaan jonka avulla voit valita esim
              pelkät kalat, pelkät karppikalat, pelkästään jäkälät tai vaikka
              peipot ja särjet jne.
        </li>
        <li>
              Tällä hetkellä alin taksoni jolla voi rajata on heimo, saatan
              lisätä sukujen tai yksittäisten lajienkin avulla rajauksen.
        </li>
          </ul>
        <li>
            Taksonisia tasoja (UEF selkärankaiset ja rangattomat) opetellessa
            kannattaa aloittaa muutamasta ylemmästä taksonista ja tulla
            alaspäin. Eli aloita vaikka kalojen pääjaksoista ja luokista. Kun
            osaat ne niin ota mukaan lahkot, sitten vaikka karppikalojen heimot
            jne.
        </li>
      </ul>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

        <h2>Päänäkymä (harjoituskortti)</h2>
      <p class="manp">
        Harjoituskortti näyttää yhden kohteen kerrallaan. Kortissa näkyy:
      </p>

      <ul style="line-height:1.55; opacity:0.95;">
        <li>
          <strong>Vihje (nimi):</strong> kortin yläosassa näkyy nimi suomeksi.
          Jos suomenkielistä nimeä ei ole (useat heimot), näytetään latinankielinen nimi.
        </li>
          <li><strong>Kortin numero</strong> ja monennessako kortissa olet.</li>
        <li>
          <strong>Taksonomiatasot:</strong> kortissa näkyvät vain ne tasot, jotka olet valinnut asetuksista.
        </li>
        <li>
            Kortin alapuolella näkyy kuvia jotka on haettu valitsemastasti
            kuvasetistä. Klikkaamalla kuvaa saa suuremman kuvan ja pääsee ns.
            gallerianäkymään jossa kyseisen taksonin kuvia voi selata.
            Klikkaamalla kuvan sivusta gallerianäkymä sulkeutuu.
        </li>
      </ul>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Painikkeet</h2>
      <ul style="line-height:1.55; opacity:0.95;">
        <li><strong>Uusi:</strong> hakee uuden harjoituskortin. Pikanäppäin N.</li>
        <li><strong>Näytä:</strong> näyttää oikeat vastaukset kaikkiin näkyviin
            kohtiin. Ensimmäinen painallus paljastaa tieteelliset nimet ja sen
            jälkeen vaihtaa latinan ja suomenkielisten välillä. Pikanäppäin
            S.</li>
      </ul>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Asetukset</h2>
      <h3>Harjoiteltavat lajit</h3>
        <p class="manp">Voit valita mitä lajikokonaisuutta harjoitellaan.</p>
        <ul>
          <li>UEF selkärangattomat laaja</li>
          <li>UEF selkärangattomat suppea</li>
          <li>UEF selkärankaiset laaja</li>
          <li>UEF selkärankaiset suppea</li>
          <li>UEF kasvit suppea</li>
          <li>UEF kasvit yksisirkkaiset</li>
          <li>UEF kasvit kaksisirkkaiset</li>
          <li>UEF kasvit itiökasvit</li>
          <li>UEF kasvit suokasvit</li>
          <li>Helsinki ME kasvit</li>
        </ul>

      <h3>Kuvien lähde</h3>
        <p class="manp">Voit valita korteille tulevat kuvat kolmesta eri lähteestä. Välillä laji.fi:ssä on häikkää ja sen kuvat eivät lataa ollenkaan. Vaihtamalla kuvia saa myös lisähaastetta harjoitteluun.</p>
        <ul>
          <li>Laji.fi</li>
          <ul><li>
            Laji.fi:n kuvia, tämä on laadukkain kuvasetti ja kuvat ovat
            suurimmalta osalta otettu suomessa. Nämä olen myös käynyt
            suurimmalta osalta käsin läpi ja valinnut hyvät kuvat. (17-04-2026, vain kasveille käyty käsin läpi)
          </li></ul>
          <li>iNaturalist taksonikuvat</li>
          <ul><li>
            iNaturalistin taksonisivujen kuvat, siltäosin mitä niiden lisenssit
            antavat myöten. Nämä omat ihmisten kuratoimia kuvia joten yleensä
            hyvälaatuisia, joskus niitä vain on todella vähän.
          </li></ul>
          <li>iNaturalist suosituimmat havainnot</li>
          <ul><li>
            iNaturalistin havaintojen suosituimmat kuvat ko. taksonille.
            Siltäosin mitä lisenssit antavat myöten. Huonoin/haastavin
            kuvasetti. Jollekkin taksonille ei esimerkiksi välttämättä ole
            kasvin lehdistä ollenkaan kuvia, vain näyttävistä kukista.
          </li></ul>
        </ul>
        Kaikille taksoneille ei aina yhdestä lähteestä löydy ollenkaan kuvia, esim. jos Lajista ei löydy kuvia jollekkin taksonille, haetaan ne iNaturalistista.
      <h3>Näytettävät taksonomiset tasot</h3>
      <p class="manp">
        Voit valita mitä taksonomisia tasoja harjoitellaan. Vain valitut
          tasot näytetään harjoituksessa. Alin valittu taso määrää mikä on alin
          kysyttävä taso.
      </p>
      <p class="manp">
          Kaikki valitut taksonitasot voivat tulla kortille, jos ne ovat
          taksoneita joilla ei ole alataksoneita. Eli esim. jos kaikki
          taksonitasot on valittuna, kortilla ei ikinä kysytä pelkästään luokkaa
          nilväiset (mollusca) tai heimoa sirkat (gryllidae) koska niillä on
          alataksoneita. Sirkkojen heimo kysytään siinä olevan lajin "kautta".
          Eli kortilla kysyttäisiin kotisirkkaa (<em>Acheta domesticus</em>).
          Mutta sinulta voidaan kysyä lahkoa lukit, koska siihen ei kuulu
          yhtäkään heimoa tai lajia.
      </p>
      <h3>Toimintonapit</h3>
        Voit valita ovatko näppäimet seuraavan lajin ottamiseen ja nimien näyttämiseen kortin/kuvien yläpuolella vai liimattuna ruudun alareunaan.
      <h3>Vihje kortin yläosassa</h3>
        Lajinimi-vihjeen kieli.
      <h3>Muut</h3>
        Korttimoodissa voit jättää kuvat näyttämättä, nopeuttaa hieman korttien vaihtamista jos haluaa päntätä pelkkiä lattareita.

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Taxa valinta (rajaukset)</h2>
      <p class="manp">
        Taxa valinta -sivulla voit rajata harjoittelun tiettyihin ryhmiin.
      </p>
      <ul style="line-height:1.55; opacity:0.95;">
        <li><strong>Oletus:</strong> kaikki taksonit ovat valittuna.</li>
        <li>
          Kun valitset ryhmän, ryhmä ja kaikki sen alaryhmät ovat mukana harjoituksessa.
          Kun poistat valinnan, ryhmä ja sen sisältö jätetään pois.
        </li>
      </ul>


      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Yleisimmät ongelmat</h2>

      <h3 style="margin-bottom:6px;">En näe mitään kysyttävää</h3>
      <p style="opacity:0.95; margin-top:0;">
        Varmista, että vähintään yksi taksonomiataso on valittuna asetuksissa.
        Lisäksi Taxa valinnassa täytyy olla valittuna ainakin yksi ryhmä.
      </p>

      <h3 style="margin-bottom:6px;">Sovellus näyttää vain tiettyä ryhmää</h3>
      <p style="opacity:0.95; margin-top:0;">
        Taxa valinnassa voi olla rajaus päällä. Mene <strong>Taxa valinta</strong> -sivulle ja valitse enemmän ryhmiä
        (tai kaikki).
      </p>
      <h3 style="margin-bottom:6px;">Henkilötietojen keräyksestä</h3>
      <p style="opacity:0.95; margin-top:0;">
          Sivusto ei kerää mitään henkilötietoja. Seuraan kuitenkin kolmea
          asiaa, uniikit käyttäjät (karkeasti), kuinka monta kertaa kukin lajisetti
          valittu, sekä kuinka monta korttia on käännetty. Mikään näistä ei
          kerää minkäänlaista henkilöivää tietoa.
      </p>
          <a target="_blank" href="https://github.com/kootepe/taxatrainer">Linkki lähdekoodiin</a>
    </section>
  </main>
</body>
</html>

