<!doctype html>
<html lang="fi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ohje - Taxa Treenaus</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <main class="wrap">
    <header class="top">
      <h1>Ohje</h1>
      <div style="display:flex; gap:10px; flex-wrap:wrap;">
        <a class="btn" href="/">Takaisin</a>
      </div>
    </header>

    <section class="card">
      <h2 style="margin-top:0;">Mikä tämä on?</h2>
      <p class="manp">
         Tällä sivulla harjoitella UEF:in lajituntemuskurssin lajien ja
          taksonomisten tasojen tieteellisiä nimiä sekä mihin pääjaksoihn,
          luokkiin, lahkoihin ja heimoihin ne kuuluvat.
      </p>
      <p class="manp">
          Säätämällä valittuja taksoneita ja taksonomisia tasoja voit
          harjoitella esim. pelkästään lintulajeja (aves), pelkästään
          nisäkkäitä (mammalia), pelkästään lintuheimoja tai vaikka pelkästään
          västäräkkejä (motacilidae). Oletuksena kaikki taksonit ovat päällä.
      </p>
      <p class="manp">
        <strong>HUOM!</strong> sovelluksessa näkyy vain pääjakso, luokka,
          lahko, heimo, suku ja laji. Alajaksoja, ryhmiä yms. ei voi
          harjoitella. Eli esim. alajakso hydracarina (vesipunkit) puuttuu
          kokonaan, vaikka se kuuluukin laajaan lajituntemukseen. Sitä vain ei
          kysytä tentissä, jossa on vain pääjakso, luokka, lahko, heimo suku ja
          laji.
      </p>
      <!-- <p class="manp"> -->
      <!--   <strong>HUOM!</strong> -->
      <!--     Kortit tulevat täysin satunnaisessa järjestyksessä. Eli sama kortti -->
      <!--     voi tulla monta kertaa putkeen jos sinulla on vain muutama taksoni -->
      <!--     valittuna. -->
      <!-- </p> -->


      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Päänäkymä (harjoituskortti)</h2>
      <p class="manp">
        Harjoituskortti näyttää yhden kohteen kerrallaan. Kortissa näkyy:
      </p>

      <ul style="line-height:1.55; opacity:0.95;">
        <li>
          <strong>Vihje (nimi):</strong> kortin yläosassa näkyy nimi suomeksi.
          Jos suomenkielistä nimeä ei ole (useat heimot), näytetään latinankielinen nimi.
        </li>
        <li>
          <strong>Taksonomiatasot:</strong> kortissa näkyvät vain ne tasot, jotka olet valinnut asetuksista.
        </li>
      </ul>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Painikkeet</h2>
      <ul style="line-height:1.55; opacity:0.95;">
        <li><strong>Uusi:</strong> hakee uuden harjoituskortin. Pikanäppäin N.</li>
        <li><strong>Tyhjennä:</strong> nollaa näkyvät kentät / paljastukset.</li>
        <li><strong>Näytä:</strong> näyttää oikeat vastaukset kaikkiin näkyviin
            kohtiin. Ensimmäinen painallus paljastaa tieteelliset nimet ja sen
            jälkeen vaihtaa latinan ja suomenkielisten välillä. Pikanäppäin
            S.</li>
        <li><strong>?</strong> (rivillä): paljastaa oikean vastauksen vain siihen riviin. Useampi painallus vaihtaa tieteellisen ja suomenkielisen nimen välillä.</li>
      </ul>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Asetukset (Tasoasetukset)</h2>
      <p class="manp">
        Asetuksissa valitaan, mitä taksonomisia tasoja harjoitellaan. Vain valitut
          tasot näytetään harjoituksessa. Alin valittu taso määrää mikä on alin
          kysyttävä taso.
          <!-- Eli jos jostain syystä valitsisit pääjakso, suku ja -->
          <!-- laji, sinulta ei silti kysytä pelkkiä pääjaksoja, mutta kortilla näytetään -->
          <!-- vain pääjakso, suku ja laji. -->
      </p>

      <p class="manp">
          Kaikki valitut taksonitasot voivat tulla kortille, jos ne ovat
          taksoneita joilla ei ole alataksoneita. Eli esim. jos kaikki
          taksonitasot on valittuna, kortilla ei ikinä kysytä pelkästään luokkaa
          nilväiset (mollusca) tai heimoa sirkat (gryllidae) koska niillä on
          alataksoneita. Sirkkojen heimo kysytään siinä olevan lajin "kautta".
          Eli kortilla kysyttäisiin kotisirkkaa (<em>Acheta domesticus</em>).
          Mutta sinulta voidaan kysyä lahkoa lukit, koska siihen ei kuulu
          yhtäkään heimoa tai lajia.
      </p>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Dataset (aineisto)</h2>
      <p class="manp">
          Tällä hetkellä valittavissa laajat ja suppeat selkärangattomat sekä selkärankaiset.
      </p>

      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Taxa valinta (rajaukset)</h2>
      <p class="manp">
        Taxa valinta -sivulla voit rajata harjoittelun tiettyihin ryhmiin.
      </p>
      <ul style="line-height:1.55; opacity:0.95;">
        <li><strong>Oletus:</strong> kaikki taksonit ovat valittuna.</li>
        <li>
          Kun valitset ryhmän, ryhmä ja kaikki sen alaryhmät ovat mukana harjoituksessa.
          Kun poistat valinnan, ryhmä ja sen sisältö jätetään pois.
        </li>
      </ul>


      <hr style="border:0; border-top:1px solid #243244; margin:16px 0;" />

      <h2>Yleisimmät ongelmat</h2>

      <h3 style="margin-bottom:6px;">En näe mitään kysyttävää</h3>
      <p style="opacity:0.95; margin-top:0;">
        Varmista, että vähintään yksi taksonomiataso on valittuna asetuksissa.
        Lisäksi Taxa valinnassa täytyy olla valittuna ainakin yksi ryhmä.
      </p>

      <h3 style="margin-bottom:6px;">Sovellus näyttää vain tiettyä ryhmää</h3>
      <p style="opacity:0.95; margin-top:0;">
        Taxa valinnassa voi olla rajaus päällä. Mene <strong>Taxa valinta</strong> -sivulle ja valitse enemmän ryhmiä
        (tai kaikki).
      </p>
          <a target="_blank" href="https://github.com/kootepe/taxatrainer">Linkki lähdekoodiin</a>
    </section>
  </main>
</body>
</html>

